.fonte-titulo-principal{
    font-family: 'Satisfy', cursive;
    font-size: 2em;
}
.fonte-titulo{
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 50px;
}

.fonte-texto{
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.fonte-rodape{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 20px;
}

.subtitulo{
    font-size: 1.5em;
}

.imagem-calculadora{
    max-height: 400px;
    width: 90%;
    object-fit: cover;
    object-position: 0 50%;
    
}
.imagem-dinheiro{
    max-height: 400px;
    width: 90%;
    object-fit: cover;
    object-position: 0 50%;
}

.card-largura{
    max-width: 14rem;
}
.card-imagem{
    object-fit: cover;
    max-height: 150px;
}
.caixa-imagem{
    height: 150px;
}

.caixa-card-funcionarios{
    max-width: 800px;
}

.caixa-imagem-funcionarios{
    height: 200px;
}
.card-largura-funcionarios{
    max-width: 14rem;
}
.foto-funcionarios{
    object-fit: cover;
    max-height: 200px;
}

.card-boletos{
    max-width: 18rem;
    height: 250px;
}
.caixa-imagem-boletos{
    height: 150px;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 200vh;
    display: inline-block;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.alinhamento-barra-lateral{
    display: inline;
}