
.central {
    text-align: center;
}

.descricao-loja{
    text-align: left;
    padding: 20px;
}

.valor-gasto-cliente{
    padding: 20px;
    margin: 20px;
}

.letra-maiuscula{
    text-transform: uppercase;
}

.texto-vermelho{
    color: crimson;
}
.texto-vermelho-sublinhado{
    color: crimson;
    text-decoration: underline;
}

.texto-verde{
    color: lightgreen;
}
