.cabecalho{
    background: url(../img/destaque.jpeg) no-repeat;
    background-size: cover;
    padding: 32px;
}
.texto-cabecalho{
    color: white;
    margin: 10px;
    padding: 16px;
    background-color: gray;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 1s;
}
.texto-cabecalho:hover{
    background-color: #48A3A6;
    text-decoration: none;
    color: white;
}